<div class="row header">
    <div class="col-md-4 top-left">

        <a href="https://github.com/keystoneledger" target="_blank">
            <ul class="button-wrapper top">
                <li class="icon contact">
                    <span class="tooltip">Github</span>
                    <span>
                        <img src="/www/img/logos/github.png" class="icon-img">
                    </span>
                </li>
            </ul>
        </a>
        <a href="https://github.com/keystoneledger/keystoneledger.github.io/blob/main/README.md"
           target="_blank"
           onclick="event.preventDefault(); PALedger.openReadme();">
            <ul class="button-wrapper top">
                <li class="icon readme">
                    <span class="tooltip">README</span>
                    <span>
                        <img src="/www/img/icons/readme.png" class="icon-img">
                    </span>
                </li>
            </ul>
        </a>
    </div>
    <div class="col-md-4 top-center">
        <div class="feature">
            <div class="pfp"><img src="{{ page.logo_url }}" class="feature-img"></div>
            <div class="title">{{ page.entity }}</div>
            <div class="subtitle">{{ page.subtitle }}</div>
        </div>
    </div>
    <div class="col-md-4 top-right">
        <p>{{ page.quip }}</p>
    </div>
</div>