<div class="row footer">
    <div class="col-md-6 bottom-left">
        <a href="https://github.com/keystoneledger" target="_blank">
            <ul class="button-wrapper top">
                <li class="icon contact">
                    <span class="tooltip">Github</span>
                    <span>
                        <img src="/www/img/logos/github.png" class="icon-img">
                    </span>
                </li>
            </ul>
        </a>
        <a href="https://www.linkedin.com/company/nimble-sa/" target="_blank">
            <ul class="button-wrapper top">
                <li class="icon contact">
                    <span class="tooltip">LinkedIn</span>
                    <span>
                        <img src="/www/img/logos/linkedin.png" class="icon-img">
                    </span>
                </li>
            </ul>
        </a>
        <a href="https://x.com/thenimblesa" target="_blank">
            <ul class="button-wrapper top">
                <li class="icon contact">
                    <span class="tooltip">X</span>
                    <span>
                        <img src="/www/img/logos/x.png" class="icon-img">
                    </span>
                </li>
            </ul>
        </a>
    </div>
    <div class="col-md-3 bottom-center">
            <div class="schedule-button">
                <!-- Google Calendar Appointment Scheduling begin -->
                <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
                <script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
                <script>
                    (function() {
                        var target = document.currentScript;
                        window.addEventListener('load', function() {
                        calendar.schedulingButton.load({
                            url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ10EjTi8NQmSnITqNBYzAeXbKE_vgUNuTlaF04ff1lu5e2B73YnA6HMVihY9QHHiZYhnSKgfcWx?gv=true',
                            color: '#9dddee',
                            label: 'Book a Demo',
                            target,
                            });
                        });
                    })();
                </script>
                <!-- end Google Calendar Appointment Scheduling -->
            </div>
    </div>
    <div class="col-md-3 bottom-right"></div>
</div>